body{
    padding: 0;
    margin: 0;
    background-color: #36393E;
    color: white;
    font-family: 'Edu NSW ACT Foundation', sans-serif;
    font-size: 25px;
}

h3, h1{
    text-align: center;
}

table{
    border: 1px white solid;
    border-radius: 3px;
    margin: 0 auto;


}

th{
    background-color: #00acee;
    text-transform: uppercase;
}


th, td{
    padding: 20px;
    margin-right: 20px;
}

.position{
    margin: 0 auto 100px auto;
}

.display{
margin-bottom: 50px;
}